
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html,body{
	display: grid;
	height: 100%;
	place-items:center;
	background: #17a2b8;
}

::selection{
	background:rgba(23,162,184, 0.3);
}


.wrapper{
	max-width: 1200px;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

}

.wrapper .box{
	background: #fff;
	border-radius: 3px;
	padding: 25px;
	width: calc(33% - 10px);
}

.wrapper .box i.quote{
	font-size: 20px;
	color: #17a2b8;
}

.wrapper .box .content{
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wrapper .box .info .name{
	font-size: 17px;
	font-weight: 600;
}

.wrapper .box .info .name{
	color: #17a2b8;
	font-size: 16px;
	font-weight: 500;
}

.wrapper .box .info .stars {
margin-top: 2px;
}

.box .info .stars i{
	color: #17a2b8;
}

.wrapper .box .content .image{
	height: 75px;
	width: 75px;
	padding: 3px;
	background: #17a2b8;
	border-radius: 50%;
}

.box .content .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #fff;
}

@media (max-width: 1045px){
	.wrapper .box{
		width: calc(50% - 10px);
		margin: 10px 0;
	}
}

@media (max-width: 702px){
	.wrapper .box{
		width: 100%;
	}
}